.ul-container{
    display: flex;
    justify-content: space-evenly;

    margin-top: 30px;
    list-style: none;
}

.ul-container li a{
    color: #202020;
    text-decoration: none;
}

.ajlogo{
    position:absolute;
    top:-12%;
    left:50%;
    transform: translate(-50%,0);
    width: 300px;
}