

.contact-logo{
    position: absolute;
    top:-105px;
    left:50%;
    transform: translate(-50%, 0);
    width: 270px;
}

.contactme-header{
    position: absolute;
    top:130px;
    left:10%;

    font-size: 44px;
}


.form{
    display: inline-block;
    background-color: transparent;
    padding:20px;
    position: absolute;
    top:200px;
    left:10%;

    border-radius: 5px;
}

.form-body{
    display: flex;
}

.form-label{
    margin: 20px 10px 0 0;
    font-size: 24px;
    color:#202020;
}

.req::after{
    content: '*';
    font-size: 18px;
    color: red;
}


.input-form{
    width: 350px;
}


.textarea-form{
    min-width: 450px;
    max-width: 450px;

    min-height: 200px;
    max-height: 200px;
}

.btn-send{
    font-size: 24px;
    padding: 3px 20px 3px 20px;
    background-color: #202020;
    border: none;
    color: #edebe5;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.btn-send:hover{
    font-size: 24px;
    background-color: transparent;
    padding: 3px 20px 3px 20px;
    border:none;
    color:#202020;
    transition: background 0.5s ease-in-out;
}


.contact-description{
    font-size: 18px;
    width: 700px;
    margin-left: 100px;
}

@media screen and (max-width: 600px){
    .textarea-form{
        min-width: 350px;
        max-width: 350px;
    
        min-height: 400px;
        max-height: 400px;
    }

    .form-body{
        display: block;
    }

    .desc{
        width: 400px;
    }

    .contact-description{
        font-size: 18px;
        width: 100px;
        margin-left: 0;
    }

    .contactme-header{
    position: absolute;
    top:130px;
    left:50%;
    transform: translate(-50%, 0);
    }

}

@media screen and (max-width: 750px){
    .textarea-form{
        min-width: 350px;
        max-width: 350px;
    
        min-height: 400px;
        max-height: 400px;
    }

    .form{
        display: inline-block;
        background-color: transparent;
        padding:20px;
        position: absolute;
        top:200px;
        left:15%;
        border-radius: 5px;
    }

    .form-body{
        display: block;
    }

    .desc{
        width: 400px;
    }

    .contact-description{
        width: 100px;
        margin-left: -10px;
    }

    .contactme-header{
    position: absolute;
    top:130px;
    left:50%;
    transform: translate(-50%, 0);
    }

}