*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    line-height: 1.5;

    font-family: 'Open Sans', sans-serif;
    color:#232527;
}

body{
    background-color:#edebe5;
}

/* .logo{
    position: absolute;
    top:0;
    left:0;
} */
.introduction--container{
    display: flex;
    justify-content: center;
    
    position: absolute;
    top:0;
    left: 571px;
}

.menu-items{
    display: flex;
    justify-content: center;

    list-style: none;
    gap:190px;

    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);

    z-index: 10;
}

.menu-anchor{
    text-decoration: none;
    color: #edebe5;
}


.menu-items li button{
    font-size: 50px;
    color: #edebe5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.closeBtn-Menu{
    position: absolute;
        top: 50px;
        left: 35px;
        z-index:5;
        cursor: pointer;
        width: 45px;
        border: none;
        background-color: transparent;

}

.titles{
    display: inline-block;
    margin-left: 7px;
    margin-top:7px;
}

.logos{
    display: flex;
    justify-content: start;
    
    position:absolute;
    top:830px;
    left:20px;

    /* margin:350px 0 0 20px; */
    
}

.skills-logos{
    display: none;
    margin: 80px 0 0 150px;
}

.btn-menu{
    background-color: transparent;
    border:none;

    margin:15px 0 0 20px;

    cursor: pointer;
}

.menu-icon{
    stroke:black;
    width: 35px;
}


.aboutme{
    top:800px;
    background-color:#232527;
}


.lr-container{
    display: flex;
    justify-content: center;
}

.lefty{
    width:50%;
    height: 800px;
}

/* .lefty:hover{
    background-color: rgba(224, 224, 224, 0.2);
} */

.righty{
    width: 50%;
    height:800px;
}

.btn-divider{
    font-size: 50px;
    background-color: transparent;
    border: none;
    width:100%;
    height:0px;
    cursor: pointer;
    transition: ease-out 0.8s;
     
}

.btn-divider:hover{
    display: block;
    background-color: #edebe5;
    color:#232527;
    height: 800px;
    transition:all ease-in 0.5s;
    
    
}

.backAbtBtn{
    position: fixed;
    top:0;
}

.about-header{
    margin:200px 0 0 300px;
    font-size: 46px;

    font-weight: 550;
}

.about-subheading{
    width:750px;
    margin:20px 0 0 350px;

    font-weight:300;
}


.year-spacing{

    margin:200px 0 0 100px;
}

.year-spacing-alternative{
    display: flex;
    justify-content: end;
    margin-right:100px;
}


.firstYear-paragraph{
    font-size: 18px;
    line-height: 1.8;
    width: 850px;


    margin:30px 0 0 30px;
}

.firstYear-subHeader{
    margin:260px 0 0 30px;
}

.secondYear-subHeader{
    margin:290px 0 0 30px;
}

.year-present{
    margin-left:100px;
}

.thirdYear-subHeader{
    margin:370px 0 0 30px;
}


/* -------------------MY PROJECTS---------------------- */


.project-header{
    margin:50px 0 0 205px;
    font-size: 46px;

    font-weight: 550;
}

.project-container{
    /* position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%); */

    /* width:1500px;
    height: 855px; */

    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap:30px;


}

.preview-container{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/Capture.PNG);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
    
}

.content{
    padding:30px 0 0 13px;
}

.content p, .content a {
    color:rgba(200,200,200,0.8);
    line-height: 1.5;
}


.content a {
    position: relative;
    top:250px;
    left: 0;

    margin-right: 50px;
}

.preview-container-weather{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/Capture.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.preview-container-weather > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-weather:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/Capture.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}


.preview-container-shopclient{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/shopNZ.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.preview-container-shopclient > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-shopclient:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/shopNZ.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}

.preview-container-shopadmin{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/shopAdmin.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.preview-container-shopadmin > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-shopadmin:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/shopAdmin.PNG);
    background-size: cover;
    background-position: left; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}


.preview-container-kali{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/kaliphotography.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
    
}

.preview-container-kali > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
    
}

.preview-container-kali:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/kaliphotography.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}

.preview-container-vroom{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/vroomss.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
    
}

.preview-container-vroom > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
    
}

.preview-container-vroom:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/vroomss.jpg);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}


.preview-container-nf{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/nf.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.icons{
    width: 30px;
}

.preview-container-nf > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-nf:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/nf.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}

.preview-container-todo{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/todoscreenshot.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.preview-container-todo > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-todo:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/todoscreenshot.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}

.preview-container-finance{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/financetrackerss.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; 

    width: 480px;
    height: 400px;

    box-shadow: 0px 15px 5px  rgba(0,0,0,0.5);
}

.preview-container-finance > .content{
    opacity: 0;
    transition: opacity 1.2s ease;
}

.preview-container-finance:hover > .content{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/financetrackerss.PNG);
    background-size: cover;
    background-position: center center; 

    color:rgba(200,200,200,0.7);
    width: 480px;
    height: 400px;
    opacity: 1;
    transition: opacity 1s ease;
}

.website-anchortags-finance a {
    position: relative;
    top:117px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-todo a {
    position: relative;
    top:212px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-nf a {
    position: relative;
    top:195px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-shopclient a {
    position: relative;
    top:46px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-shopadmin a {
    position: relative;
    top:140px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-kali a {
    position: relative;
    top:248px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-vroom a {
    position: relative;
    top:140px;
    left: 0;

    margin-right: 50px;
}

.website-anchortags-weather a {
    position: relative;
    top:212px;
    left: 0;

    margin-right: 50px;
}

.double-down-icon{
    position: absolute;
    top:800px;
    left:50%;
    transform: translate(-50%, 0);
}

.hover-text{
    font-size: 10px;
    text-transform: uppercase;
    color: #232527;
}

.caretLeft{
    height: 39px;
    width:39px;
}

.caretRight{
    height: 39px;
    width:39px;
}

.x-btn{
    width: 29px;
}

.presentYear{
    display: flex;
    justify-content: center;

    margin-top: 10px;
    height:800px;
}

.btns-side-div{
    position:absolute;
    top:80px;
    left:0;
}

.workexp-side-div{
    position:absolute;
    top:130px;
    left:0;
}

.btn-side{
    background-color: #232527;
    border: none;
    color: #edebe5;
    padding:5px 20px 5px 20px;
    cursor: pointer;
    letter-spacing: 0.5px;
    width: 120px;
    z-index:5;

    
    font-size: 11px;
}


/* .btnsideicon{
    position:absolute;
    top:-8px;
    left:63px;
    width: 55px;
} */

.email-modal{
    position:absolute;
    
    top:-40px;
    left:0;
    padding: 5px;

    background-color: #232527;
    display: none;
}

.email-modal p {
    letter-spacing: 1px;
    color: #edebe5;
    font-size: 12px;
}

.softwaredev-p{
    display: none;
    position: absolute;
    top:132px;
    left: 156px;
}



@media screen and (min-width: 100px) and (max-width:300px){
    .icons{
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .icons{
        width: 15px;
        height: 15px;
    }
    .aboutme{
        top:800px;
        background-color: #232527;
    }

    .logo{
        width: 290px;
    }

    .introduction--container{
        display: flex;
        justify-content: center;
        
        position: absolute;
        top:15%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .double-down-icon{
        position: absolute;
        top:480px;
        left:50%;
        transform: translate(-50%, 0);
    }

    .hover-text{
        font-size: 9px;
        text-transform: uppercase;
        color: #232527;
    }

    .logos{
        top:490px;
        left:20px;
    }

    .btn-divider{
        font-size: 30px;
        background-color: transparent;
        border: none;
        width:100%;
        height:800px;
        cursor: pointer;
        transition: ease-out 0.8s;
    }
    
    .btn-divider:hover{
        display: block;
        background-color: #edebe5;
        color:#232527;
        transition:ease-in 0.5s;
        
    }

    .caretLeft{
        height: 25px;
        width:25px;
    }
    
    .caretRight{
        height: 25px;
        width:25px;
    }

    .menu-icon{
        stroke:#232527;
        width: 25px;
    }

    .btn-menu{
        background-color: transparent;
        border:none;
    
        margin:15px 0 0 20px;
    
        cursor: pointer;
    }

    .menu-items{
        display: grid;
        grid-template-columns: repeat(2, 90px);
        gap:100px;

        top:30%;
        left: 46%;
    }
    .menu-items li button{
        font-size: 25px;
        color: #edebe5;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* ------------ABOUT SECTION---------- */

    .about-header{
        margin:200px 0 0 20px;
        font-size: 24px;
    
        font-weight: 550;
    }

    .divide-divs{
        width: 520px;
    }

    .about-subheading{
        width:500px;
        margin:20px 0 0 50px;
    
        font-weight:300;
    }

    .year-spacing{
        margin:200px 0 0 50px;
    }

    .firstYear-paragraph{
        font-size: 13px;
        width: 200px;
    
    
        margin:0 0 0 30px;
    }

    .firstYear-subHeader{
        margin:30px 0 0 30px;
    }

    .secondYear-subHeader{
        margin:30px 0 0 30px;
    }
    
    .thirdYear-subHeader{
        margin:30px 0 0 30px;
    }

    .presentYear{
        height:800px;
        width: 520px;
    }

    /* ----------------------------- */

    /* ---------PROJECT SECTION------------ */

    .project-container{
        margin-left: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(1fr 500px);
    }

    .project-header{
        margin:50px 0 0 105px;
        font-size: 36px;
    
        font-weight: 550;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    .icons{
        width: 25px;
    }
    .aboutme{
        top:800px;
        background-color: #232527;
    }

    .logo{
        width: 390px;
    }

    .introduction--container{
        display: flex;
        justify-content: center;
        
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .double-down-icon{
        position: absolute;
        top:480px;
        left:50%;
        transform: translate(-50%, 0);
    }

    .hover-text{
        font-size: 9px;
        text-transform: uppercase;
        color: #232527;
    }

    .logos{
        top:490px;
        left:20px;
    }

    .btn-divider{
        font-size: 30px;
        background-color: transparent;
        border: none;
        width:100%;
        height:800px;
        cursor: pointer;
        transition: ease-out 0.8s;
    }
    
    .btn-divider:hover{
        display: block;
        background-color: #edebe5;
        color:#232527;
        transition: ease-in 0.5s;
        
    }

    .caretLeft{
        height: 25px;
        width:25px;
    }
    
    .caretRight{
        height: 25px;
        width:25px;
    }

    .menu-icon{
        stroke:#232527;
        width: 25px;
    }

    .btn-menu{
        background-color: transparent;
        border:none;
    
        margin:15px 0 0 20px;
    
        cursor: pointer;
    }

    .menu-items{
        list-style: none;
        gap:100px;
    }
    .menu-items li button{
        font-size: 25px;
        color: #edebe5;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* ------------ABOUT SECTION---------- */

    .about-header{
        margin:200px 0 0 20px;
        font-size: 24px;
    
        font-weight: 550;
    }

    .about-subheading{
        width:500px;
        margin:20px 0 0 50px;
    
        font-weight:300;
    }

    .year-spacing{
        margin:200px 0 0 50px;
    }

    .firstYear-paragraph{
        font-size: 13px;
        width: 200px;
    
    
        margin:0 0 0 30px;
    }

    .firstYear-subHeader{
        margin:30px 0 0 30px;
    }

    .secondYear-subHeader{
        margin:30px 0 0 30px;
    }
    
    .thirdYear-subHeader{
        margin:30px 0 0 30px;
    }

    .presentYear{
        height:800px;
    }

    /* ----------------------------- */

    /* ---------PROJECT SECTION------------ */

    .project-container{
        margin-left: 100px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(1fr 500px);
    }

    .project-header{
        margin:50px 0 0 180px;
        font-size: 36px;
    
        font-weight: 550;
    }
}